# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # install go 
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.x

      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      # Coverage report
      - name: Generate coverage report
        run: |
          go test -race -coverprofile=coverage.out -covermode=atomic
          ls
          pwd

      - name: Codacy Coverage Reporter
        uses: codacy/codacy-coverage-reporter-action@0.2.0
        with:
          project-token: ${{ secrets.CODACY_TOKEN }}
          coverage-reports: **/*.out

      # - name: codacy
      #   image: plugins/codacy
      #   settings:
      #     token:
      #       from_secret: ${{ secrets.CODACY_TOKEN }}
